<nav class="nav-primary navbar navbar-full">

    <div class="container">
        <a class="navbar-brand" href="/">
            <%= config.title %>
            <small class="text-muted">@aaemnnosttv</small>
        </a>

        <ul class="nav navbar-nav">
            <% _.each(config.nav_primary, function(item, key) { %>
                <% isActive = (url_for(item) == '/' + path.replace('/index.html', '')) || (url_for(item) == '/.' && is_home()) %>

                <li class="nav-item local <%= isActive ? 'active' : '' %>">
                    <a class="nav-link" href="<%- url_for(item) %>"><%= key %></a>
                </li>
            <% }) %>

            <% _.each(config.network, function(url, network) { %>
                <li class="nav-item social">
                    <%- link_to(url, network, {class: "nav-link", external: true}) %>
                </li>
            <% }) %>
        </ul>

    </div>
</nav>
