<nav class="nav-primary navbar">

    <div class="container">
        <a class="navbar-brand" href="/">
            <%= config.title %>
            <small class="text-muted">@aaemnnosttv</small>
        </a>

        <ul class="nav navbar-nav">
            <% _.each(config.nav_primary, function(item, key) { %>
                <% isActive = (url_for(item) == '/' + path.replace('/index.html', '')) || (url_for(item) == '/.' && is_home()) %>

                <li class="nav-item <%= isActive ? 'active' : '' %>">
                    <a class="nav-link" href="<%- url_for(item) %>"><%= key %></a>
                </li>
            <% }) %>


        </ul>
        <ul class="nav navbar-nav pull-sm-right">
            <% if (config.network.twitter) { %>
                <li class="nav-item social">
                    <a href="<%- config.network.twitter %>" class="nav-link" target="_blank">Twitter</a>
                </li>
            <% } %>
            <% if (config.network.github) { %>
                <li class="nav-item social">
                    <a href="<%- config.network.github %>" class="nav-link" target="_blank">GitHub</a>
                </li>
            <% } %>
        </ul>

    </div>
</nav>
