<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body class="<%= is_home() ? 'home' : '' %>">
    <%- partial('_partial/nav') %>
    <%- body %>
    <%- partial('./_partial/footer') %>
</body>
</html>
